@font-face {
    font-family: Title1;
    src: url(/fonts/BungeeShade-Regular.ttf);
}

body {
    background-image: url(/images/bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: title1;
    color: wheat;
    font-size: 50px;
    margin: 1px;
}

.pic {
    max-height: 500px;
    max-width: 500px;
    transition: 0.5s;

}
.pic:hover{
    transform: scale(1.27);
	z-index: 3;

}

.letter {
    margin: 30px;
    color: wheat;
    margin-right: 25%;
    margin-left: 25%;
}

