@font-face {
    font-family: Title1;
    src: url(/fonts/BungeeShade-Regular.ttf);
}

body {
    background-image: url(https://i.pinimg.com/736x/cc/94/4c/cc944c5e0a5bcf74937a4209897d2c89.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: title1;
    color: wheat;
}

.pic {
    max-height: 500px;
    max-width: 500px;

}

.letter {
    margin: 30px;
    color: wheat;
}