@font-face {
    font-family: Title1;
    src: url(/fonts/BungeeShade-Regular.ttf);
}

body {
    background-image: url(/photos/bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: title1;
    color: wheat;
}

.pic {
    max-height: 500px;
    max-width: 500px;

}

.letter {
    margin: 30px;
    color: wheat;
}